.track {
    margin-top: 20px;
    >div {
        float: left;
        width: 33.3%;
        >div {
            width: 100%;
            text-align: center;
            cursor: pointer;
        }
        >div:hover {
            color: var(--box-border-focus-color);
        }
    }
}


// 打开富文本编辑器链接样式
.editer {
    text-align: left;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
}
.editer > a:active, .editer > a:link, .editer > a:visited {
    color: #778087;
    text-decoration: none;
    word-break: break-word;
}

.editer > a:hover {
    text-decoration:underline;
}